*.gem
.bundle
.sass-cache
_site
Gemfile
Gemfile.lock
node_modules
vendor/*
test/*
.jekyll-metadata
Documentation/*
References/*
index.md
about.md
*.md
404.html
_config.yml
favicon.png
*.idea
.DS_Store
