{% assign subpages = "" | split,"" %}
{% assign deeper_pages = "" | split,"" %}
{% if parent_dir == nil %}
    {% assign parent_dir = "" %}
{% endif %}
{% for page in page_set %}
    {% if page.url contains parent_dir %}
        {% assign depth = page.url | split, "/" | size | minus: 1 %}
        {% if depth == current_depth %}
            {% assign subpages = subpages | push:page %}
        {% elsif depth > current_depth %}
            {% assign deeper_pages = deeper_pages | push:page %}
        {% endif %}
    {% endif %}
{% endfor %}